<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Formulario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="pregunta1Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="pregunta1Soap1" />
                <binding name="WebEjercicio1Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebEjercicio1Soap1" />
                <binding name="WebEjercicio2Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebEjercicio2Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44329/pregunta1.asmx" binding="basicHttpBinding"
                bindingConfiguration="pregunta1Soap" contract="ServicePregunta1.pregunta1Soap"
                name="pregunta1Soap" />
            <endpoint address="https://localhost:44333/WebEjercicio1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebEjercicio1Soap"
                contract="ServiceEjercicio1.WebEjercicio1Soap" name="WebEjercicio1Soap" />
            <endpoint address="https://localhost:44313/WebEjercicio2.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebEjercicio2Soap"
                contract="ServiceEjercicio2.WebEjercicio2Soap" name="WebEjercicio2Soap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Formulario.Properties.Settings>
            <setting name="Formulario_localhost_WebEjercicio2" serializeAs="String">
                <value>https://localhost:44313/WebEjercicio2.asmx</value>
            </setting>
        </Formulario.Properties.Settings>
    </applicationSettings>
</configuration>